<h1>Create new item</h1>

<%= form_for  Item.new do |f| %>

	<%= f.text_field :price %>
	<%= f.text_field :name %>
	<%= f.text_field :description %>
	<%= f.text_field :weight %>
	
	<p><%= f.submit "Создать товар" %></p>

<% end %>
