<!DOCTYPE html>
<html>
<head>
  <title>MyStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<div class="sessionInfo">
		<% if current_user %>
			<%= current_user.login %> | <%= link_to "Выйти", destroy_user_session_path %>
		<% else %>
			<%= link_to "Войти", new_user_session_path %> | <%= link_to "Регистрация", new_user_registration_path %>
		<% end %>
	</div>

<%= yield %>
			 
</body>
</html>
