<!DOCTYPE html>
<html>
<head>
  <title>MyStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>


	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<div class="sessionInfo">
		<% if current_user %>
			<%= current_user.login %> | <%= link_to "Выйти", destroy_user_session_path %>
		<% else %>
			<%= link_to "Войти", new_user_session_path %> | <%= link_to "Регистрация", new_user_registration_path %>
		<% end %>
	</div>

	<p style="color: red;"><%= flash[:error] %></p>
	<p style="color: green;"><%= flash[:success] %></p> 
	
<%= yield %>
			 

</body>
</html>
